.bg{
    background-color: black;
    min-height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    padding: 0;

}

.home {
  
    color: #00FF5E;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    position: relative;
    /* min-height: 95vh; */
    justify-content: space-evenly;
    font-family: 'Inconsolata', monospace;
    border: 3px solid #00FF5E;
    border-radius: 10px;
    padding: 10px;
    top: 60px;
    margin: 0px auto 10px auto;
    position: relative;
    min-width: 70%;
    max-width: 70%;
    align-items: center;
    transform: rotate(-2deg);
}



.image1 {
    margin-right: -130px;
    /* Adjust as needed */
    max-width: 100%;
     height: 70vh;
      width: auto;
      position: static;
    max-height: 10%;
    /* Make image responsive */
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home h2 {
    font-size: 3.5rem;
    width: 100%;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    /* Adjust as needed */
    margin-bottom: 10px;
    /* Adjust as needed */
    white-space: nowrap;
    /* Prevent text wrapping */
}

h2 span {
    color: #ff0051;
    font-weight: 600;
}

h2:before {
    content: '';
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, transparent 0%, #00FF5E 5%, #00FF5E 100%);

}

@keyframes animate {
    0% {
        left: 110;
    }

    100% {
        width: -20%;
    }
}

.knowMore {
    background-color: transparent;
    border: 3px solid #00FF5E;
    color: #00FF5E;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    margin-left: 50px;
    margin-top: 20px;
}

/* 
.icons {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}

.icons svg {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    fill: #00FF5E;
}



.icons svg:nth-child(2) {
    fill: #ff0051;
}

.icons svg:nth-child(3) {
    fill: #0a66c2;
}

.icons svg:nth-child(4) {
    fill: white;
} */


@media screen and (max-width: 1200px) {
    .home{
        transform: rotate(-2deg);
        width: 90%;
        /* margin-top: 50px; */
        min-height: 90vh;
    }

    .image1{
        margin-right: 0px;
        width: auto;
        height: 50vh;
    }

    .home h2{
        font-size: 2rem;
        width: 100%;
        font-weight: 400;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .left{
        margin-top: 10px;
    }
}

/* Media query for tablet-sized screens */
@media (max-width: 900px) {
    .home {
        flex-direction: column-reverse;
        /* Stack elements vertically */
        align-items: center;
        
        /* Center content horizontally */
    }

    .quote {
        max-width: 100%;
        /* Adjust as needed */
    }

    .home h2 {
        font-size: 2rem;
        width: 100%;
    }

    .knowMore {
        margin-top: 10px;
        /* Adjust as needed */
        padding: 10px 20px;
        position: absolute;
        left: 50%;
        margin-left: 0px;
        transform: translateX(-50%);

    }

    .icons {
        display: flex;
        margin-top: 80px;
        justify-content: center;
        margin-left: 0px;

    }


    .icons svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        fill: #00FF5E;
    }


    .image1 {
        max-height: 40vh;
    }
}

@media (max-width: 600px) {
    .home h2 {
        font-size: 1.5rem;
    }

    .knowMore {
        margin-top: 10px;
        margin-right: 0;
        font-size: 1rem;

        padding: 10px 20px;

        position: absolute;
        left: 50%;
        margin-bottom: 50px;
        transform: translateX(-50%);

    }

    .image1 {
        max-height: 50vh;
        width: auto;
        /* Adjust image height for mobile 
      screens */
    }

    
}